.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.apresentacao h3 {
    margin: 10px ;
}

.apresentacao p {
    text-align: center;
    margin: 20px;
}