.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.apresentacao h3, .apresentacao p {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
}