.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.apresentacao h1 {
    font-size: 3.5rem;
    margin: 10px ;
}

.apresentacao p {
    text-align: center;
    font-size: 1.4rem;
    margin: 20px;
}