@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #6e1111;
}


section:nth-child(even),
header,
footer {
    background-color: #f1f5f9;
}

section:nth-child(odd) {
    background-color: #7D0000;
}

/* 
section > div, header > div, footer > div {
    border: 1px solid black;
} */